<header class="navbar">
  <div class="navbar-inner">
    {{#linkTo "app.board" tagName="a" class="brand brand-title"}}
      Project-on
    {{/linkTo}}
    <ul class="nav">
      {{#linkTo "app.board" tagName="li"}}
        <a {{bindAttr href="view.href"}}>Tablón</a>
      {{/linkTo}}
      {{#linkTo "app.friends" tagName="li"}}
        <a {{bindAttr href="view.href"}}>Amigos</a>
      {{/linkTo}}
      {{#linkTo "app.colleagues" tagName="li"}}
        <a {{bindAttr href="view.href"}}>Colegas</a>
      {{/linkTo}}
      {{#linkTo "app.profile" tagName="li"}}
        <a {{bindAttr href="view.href"}}>Perfil</a>
      {{/linkTo}}
    </ul>

    <div id="on-button-encloser" {{action "logOut" on="click"}} title="Haz clic para salir">
      <div id="encloser-final" class="rotated">
        <div id="encloser-dash-final">
          <div id="dash-final"></div>
        </div>
        <div id="encloser-circle-final">
          <div id="circle-final"></div>
        </div>
        <div id="encloser-circle-hole-final">
          <div id="circle-hole-color-final"></div>
        </div>
      </div>
    </div>

    <ul class="nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Bienvenid@, {{personName}} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          {{#linkTo "app.profile" tagName="li"}}
            <a {{bindAttr href="view.href"}}>Ver perfil</a>
          {{/linkTo}}
          {{#linkTo "app.profile.edit" tagName="li"}}
            <a {{bindAttr href="view.href"}}>Editar perfil</a>
          {{/linkTo}}
        </ul>
      </li>
    </ul>
  </div>
</header>


<section class="main-content">
  {{outlet}}
</section>