<ul class="breadcrumb">
  {{#linkTo "app.profile" tagName="li"}}
    <a {{bindAttr href="view.href"}}>Perfil</a>
    <span class="divider">/</span>
  {{/linkTo}}
  {{#linkTo "projects.index" tagName="li"}}
    <a {{bindAttr href="view.href"}}>Mis proyectos</a>
    <span class="divider">/</span>
  {{/linkTo}}
  <li class="active">{{title}}</li>
</ul>

<h1>{{title}}</h1>



<!--
  <h4 class="block-element">Proyecto creado por {{creator.name}}</h4>
-->

<section id="personal-info-section" class="frame-box span8">
  <div class="info-tag-title">Creado por</div>
  <div class="info-tag">{{creator.name}}</div>

{{debugger}}
{{log model}}
{{log model.coworker}}

  <div class="info-tag-title">Colaboradores</div>
  <ul>
    {{#each cw in model.coworkers}}
      <li class="profiles-list"><i class="icon-screenshot list-bullets"></i> {{cw.name}} {{cwList}}</li>
    {{/each}}
  </ul>
</section>
